* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #edf1d6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body>* {
  margin-bottom: 2rem;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #40513b;
  font-size: 2.5rem;
  cursor: pointer;
  background-color: #9dc08b;
}

.w-full {
  width: 100%;
}

.w-1\/2 {
  width: 50%;
}

.h-full {
  height: 100%;
}

.h-1\/2 {
  height: 50%;
}

.h-1\/5 {
  height: 20%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  visibility: hidden;
}

#winner {
  font-size: 3rem;
  font-weight: bold;
  color: #9dc08b;
}